@model DACN.Models.LienHe

@{
    ViewBag.Title = "DetailsLH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Thông Tin Liên Hệ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Nội Dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Trở Về Danh Sách", "LienHe")
</p>
