@model DACN.Models.LoaiSP

@{
    ViewBag.Title = "EditLSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Chỉnh Sửa Loại Sản Phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idLoaiSP)

    <div class="form-group">
        @Html.LabelFor(model => model.idLoaiSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="font:18px; padding: 5px 0 0 5px">@Model.idLoaiSP</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idCate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idCate")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenLSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenLSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenLSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở Về Danh Sách", "LoaiSanPham")
</div>
