
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <title>Giới Thiệu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/GioiThieuCSS/css/style.css" rel="stylesheet" />

    

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Hãy Liên Hệ Đến Chúng Tôi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters mb-5">
                            <div class="col-md-7">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4" style="text-align:center">Thông Tin Liên Hệ</h3>
                                    
                                    <div id="form-message-warning" class="mb-4"></div>

                                    @using (Html.BeginForm())
                                    {
                                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                            <div id="form-message-success" class="mb-4">
                                                @ViewBag.Thongbao
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Họ Tên</label>
                                                        <input type="text" class="form-control" name="HoTen" id="name" placeholder="Họ Tên">
                                                        @ViewData["Loi1"]
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="email">Email</label>
                                                        <input type="email" class="form-control" name="Mail" id="email" placeholder="Email">
                                                        @ViewData["Loi3"]
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Số Điện Thoại</label>
                                                        <input type="text" class="form-control" name="SDT" id="subject" placeholder="SĐT">
                                                        @ViewData["Loi2"]
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="#">Lới Nhắn</label>
                                                        <textarea name="NoiDung" class="form-control" id="message" cols="30" rows="4" placeholder="Lời Nhắn"></textarea>
                                                        @ViewData["Loi4"]
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                                                        {
                                                            <p><b>Captcha Message: @ViewBag.Message</b></p>
                                                        }
                                                        <div id="recaptcha" class="g-recaptcha" data-sitekey="6LdrUR8jAAAAAMOqmrYFgY1LUtjRl_bIlUukrdnf"></div>
                                                        <br />
                                                        <input type="submit" value="Gửi" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                @*<div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Gửi" class="btn btn-primary">
                <div class="submitting"></div>
            </div>
        </div>*@
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.12656157246!2d106.7122672143205!3d10.801617492304409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVFAuSENNIC0gSFVURUNI!5e0!3m2!1svi!2s!4v1656766931020!5m2!1svi!2s" width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.9141219697926!2d106.72120611462297!3d10.817883892293423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175289d8022b943%3A0x355113b7b0af8aaa!2zMTQwLzExIELDrG5oIFF14bubaSwgUGjGsOG7nW5nIDI3LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1669424245626!5m2!1svi!2s" width="600" height="700" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Địa Chỉ:</span> 140/11 Bình Quới, P.27, Q.Bình Thạnh, Tp.HCM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>SĐT:</span> <a href="tel://1234567920">(+84)911977681</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">nhuongthai8@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="dbox w-100 text-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text">
                                        <p><span>Website</span> <a href="#">nhom2ndt.ga</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Scripts/GioiThieuJS/js/bootstrap.min.js"></script>
    <script src="~/Scripts/GioiThieuJS/js/google-map.js"></script>
    <script src="~/Scripts/GioiThieuJS/js/jquery.min.js"></script>
    <script src="~/Scripts/GioiThieuJS/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/GioiThieuJS/js/main.js"></script>
    <script src="~/Scripts/GioiThieuJS/js/popper.js"></script>

    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

</body>
</html>


