
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/Content/DangKyCSS/style.css" rel="stylesheet" />

    <link href="~/Content/DangKyCSS/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/DangKyCSS/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->
    <link href="~/Content/DangKyCSS/css/style.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


    <title>Đăng Ký Tài Khoản</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <span class="d-block text-center my-4 text-muted"> Sử Dụng</span>
                    <div class="social-login text-center">
                        <a href="#" class="facebook btn btn-block">
                            <span class="zmdi zmdi-facebook-box"></span>
                        </a>
                        <a href="#" class="twitter btn btn-block">
                            <span class="zmdi zmdi-twitter"></span>
                        </a>
                        <a href="#" class="google btn btn-block">
                            <span class="zmdi zmdi-google"></span>
                        </a>
                    </div>

                </div>
                <div class="col-lg-2 my-5 text-center">
                    &mdash; Hoặc &mdash;
                </div>
                
                <div class="col-lg-5 contents">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-block">
                            <div class="mb-4 text-center">
                                <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
                            </div>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="name">Họ và Tên</label>
                                    <input type="text" class="form-control" id="name" name="HoTenKH">

                                </div>
                                @ViewData["Loi1"]
                                <div class="form-group first">
                                    <label for="name">Giới Tính</label>
                                    <input type="text" class="form-control" id="name" name="GioitinhKH">

                                </div>
                                @ViewData["Loi2"]
                                <div class="form-group first">
                                    <label for="name"></label>
                                    <input type="date" class="form-control" id="name" name="NgaySinh">

                                </div>
                                @ViewData["Loi3"]
                                <div class="form-group first">
                                    <label for="name">Số Điện Thoại</label>
                                    <input type="text" class="form-control" id="name" name="SdtKH">

                                </div>
                                @ViewData["Loi4"]
                                <div class="form-group first">
                                    <label for="name">Địa Chỉ</label>
                                    <input type="text" class="form-control" id="name" name="DiachiKH">

                                </div>
                                @ViewData["Loi5"]
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="eMailKH">

                                </div>
                                @ViewData["Loi6"]
                                <div class="form-group first">
                                    <label for="name">Tài Khoản</label>
                                    <input type="text" class="form-control" id="name" name="TendangnhapKH">

                                </div>
                                @ViewData["Loi7"]
                                <div class="form-group">
                                    <label for="password">Mật Khẩu</label>
                                    <input type="password" class="form-control" id="password" name="MatkhauKH">

                                </div>
                                @ViewData["Loi7"]
                                <div class="form-group last mb-4">
                                    <label for="re-password">Nhập lại Mật Khẩu</label>
                                    <input type="password" class="form-control" id="re-password" name="Matkhaunl">

                                </div>
                                @ViewData["Loi8"]

                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-3 mb-sm-0">
                                        <span class="caption"><a href="@Url.Action("Index","Store")">Trang Chủ </a></span>
                                    </label>
                                    <span class="ml-auto"><a href="@Url.Action("Dangnhap", "KhachHang")" class="forgot-pass">Đăng Nhập</a></span>
                                </div>

                                <input type="submit" value="ĐĂNG KÝ" class="btn btn-pill text-white btn-block btn-primary">




                            </form>
                        </div>
                    }
                    </div>
                </div>
        </div>
    </div>

    <script src="~/Scripts/DangKyJS/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DangKyJS/js/popper.min.js"></script>
    <script src="~/Scripts/DangKyJS/js/main.js"></script>
    <script src="~/Scripts/DangKyJS/js/bootstrap.min.js"></script>

</body>
</html>
